<!-- views/admin/edit-product.ejs -->
<h1>Edit Product</h1>
<form method="POST" action="/edit-product/<%= product._id %>">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= product.name %>">
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description"><%= product.description %></textarea>
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" step="0.01" value="<%= product.price %>">
  </div>
  <div>
    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" name="imageUrl" value="<%= product.imageUrl %>">
  </div>
  <button type="submit">Save Changes</button>
</form>
